BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "segments[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "segments[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "segments[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "segments[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "segments[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "segments[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "segments[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
LOCATE COMP "segments[0]" SITE "4" ;
LOCATE COMP "segments[1]" SITE "28" ;
LOCATE COMP "segments[2]" SITE "10" ;
LOCATE COMP "segments[3]" SITE "11" ;
LOCATE COMP "segments[4]" SITE "12" ;
LOCATE COMP "segments[5]" SITE "5" ;
LOCATE COMP "segments[6]" SITE "9" ;
IOBUF PORT "clk_led" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
LOCATE COMP "clk_led" SITE "13" ;
